body {
    margin: 0;
}

.containerSobre{
    width: 100%;
}

.containerDescricao{
    background-color: rgb(0, 37, 85);
    padding: 30px;
    margin: 30px 0px 30px 0px;
    color: rgb(245, 172, 20);
}

.btnImagem {
    color:rgb(0, 37, 85);
    padding: 1.3em 3em;
    font-size: 12px;
    font-style: bold;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 1000;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 2em;
  }
  
  .btnImagem:hover {
    background-color: #F5AC0D;
    box-shadow: 0px 15px 20px #997323;
    color: #000;
    transform: translateY(-7px);
  }
  
  .btnImagem:active {
    transform: translateY(-1px);
  }

.botaoAntigos{
    display: flex;
}

.botaoNovos{
    left: 40px;
}

.ImagensGrupos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.imagem{
    width: 100%;
    border-radius: 5%;
    height:350px;
}

@media screen and (max-width: 920px) {
    .ImagensGrupos{
        flex-direction: column;
    }
}
