@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');


#bannerMBA{
    width: 100%;
    height: 512px;
    margin-bottom: -5px;
}

/*Diferenciais*/
h2{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
}

.diferenciais{
    background-color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
}


.imgDiferencial{
    width: 100%;
    margin: 10px;
    margin-top: 0;
}
.container{
    display: flex;
    flex-direction: row;
    margin: 50px;
}
.box-diferencial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
    background-color: #2541C0;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    width: 400px;
    height: 450px;
    
}

.box-diferencial h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
}

.box-diferencial p{
    text-align: justify;
    margin: 20px;
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
}


/*METODOLOGIA*/
.metodologia{
    background-color: #002555;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-top: 10px;
    
}

.metodologia p{
    margin: 20%;
    margin-top: 0px;
    margin-bottom: 0;
    padding-bottom: 10px;
    text-align: center;
    font-family:  'Montserrat', sans-serif;

}

.bt-ingresse{
    text-align: center;
    padding: 10px;
    
    width: 500px;
    height: 60px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 0 5px 0.5px black;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 500;
    font-size: 20px;
    background-color: #002555;
    color: white;
    margin-top: 10px;
    margin-bottom: 25px;
    align-self: center;
    align-items: center;
    justify-content: center;
    
    
}
#white{
    background-color: white;
    color: #002555;
}
.bt-ingresse:hover{
    cursor: pointer;
    box-shadow: 1px 1px 3px 1px #F5AC00;
    color: rgb(188, 188, 188);
}
.cursos {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    column-gap: 1px;
    row-gap: 15px;
    justify-items: center;
    margin-bottom: 10px;
}
.container-cursos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#bt1{
    color: #002555;
    text-decoration: none;
}

#bt2{
    color: white;
    text-decoration: none;
}

.titulo-curso{
    font-size: 15pt;
    font-weight: bold;
    font-family: open sans;
}

.descricao-curso{
    font-weight: bold;
    font-family: montserrat;
}

.link-curso{
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(0,37,85);
}

.img-carousel{
    width: 50%;
    opacity: 0.4;
}

@media screen and (max-width: 768px) {
    .img-carousel{
        width: 100%;
    }

    .titulo-curso{
        font-size: 14pt;
    }
    
    .descricao-curso{
        font-size: medium;
        font-weight: bold;
        font-family: montserrat;
    }
    
    .link-curso{
        padding: 10px;
        text-decoration: none;
        color: white;
        background-color: rgb(0,37,85);
    }
}